<section class="p-3">
    <div  class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">   
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-sm-1 py-4">
                <form>
                    <div class="d-flex flex-row align-items-center mb-3">
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label fw-bold" for="form3Example1c">User Name</label>
                            <input type="text" id="form3Example1c" class="form-control" placeholder="enter your name"/>
                        </div>
                    </div>
                
                    <div class="d-flex flex-row align-items-center mb-3">
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label fw-bold" for="form3Example3c">Email Address</label>
                            <input type="email" id="form3Example3c" class="form-control" placeholder="example@gmail.com"/>
                        </div>
                    </div>
                
                    <div class="d-flex flex-row align-items-center mb-3">
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label fw-bold" for="form3Example4c">Password</label>
                            <input type="password" id="form3Example4c" class="form-control" placeholder="enter strong password"/>
                        </div>
                    </div>
                
                    <div class="d-flex flex-row align-items-center mb-3">
                        <div class="form-outline flex-fill mb-0">
                            <label class="form-label fw-bold" for="form3Example4cd">Confirm password</label>
                            <input type="password" id="form3Example4cd" class="form-control" placeholder="re-enter password"/>
                        </div>
                    </div>
                
                    <div class="form-check d-flex justify-content-center mt-3 mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                        <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                        </label>
                    </div>
                
                    <div class="text-center text-lg-start pt-2">
                        <button  type="button" class="btn btn-primary"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;"
                        >Register</button>
                    </div>                    
                </form>                
            </div>
        </div>
    </div>
</section>